# macOS system files
.DS_Store
.DS_Store?

# Xcode-specific files
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.xcodeproj/project.xcworkspace/
*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspective*
*.xcodeproj/*.mode*

# Derived data and build products
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
Packages/
Package.resolved
.swiftpm/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Firebase Crashlytics
firebase-debug.log

# Environment variables or secrets
.env
*.key
